* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */
a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  background: var(--primary-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* ----------------header-------------- */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar .navigation {
  display: flex;
  margin-left: 50px;
}

.navbar .navigation a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 1.4rem;
}

.navbar .navigation a:hover {
  text-decoration: underline;
}

.navbar .action {
  margin-left: auto;
}

.navbar .action-btn {
  padding: 13px 16px;
  border-radius: 8px;
}

.navbar .action-link {
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 1.8rem;
  color: var(--primary-color);
}

/* hero */
.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  color: #000336;
  margin-top: 8px;
  margin-bottom: 30px;
}

.hero .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #5a6473;
}

.hero-cta {
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 50px);
}

/* --------client-------- */
.client {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.client .row {
  display: flex;
  justify-content: space-between;
}

.client .desc {
  margin-top: 23px;
}

.client .client-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #7d8589;
}

.client .brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 96px;
}

/* --------guides-------- */
.guides {
  margin-top: 40px;
  margin-bottom: 41px;
  padding: 93px 0 79px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.guides .sub-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  text-align: center;
  color: #5a6473;
}

/* list-guide */
.list-guide {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin: 26px 0 10px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  color: #3b3c45;
}

.guide-item .link {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #0689ff;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* --------featured-------- */
.featured {
  padding: 110px 0;
  background: #f5fafe;
}

.featured .title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 70px;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 188%;
  color: #5a6473;
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .arrow {
  margin-left: 8px;
}
/* featured-list */
.featured .list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  border-radius: 12px;
}

.featured .list .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .body {
  padding: 17px 20px 24px;
  background: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
  word-break: break-all;
}

.featured .title a:hover {
  text-decoration: underline;
}

.featured .item .desc {
  --line-clamp: 3;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a3a6ab;
  margin: 11px 0 21px;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
}

.featured .item span {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #444444;
  letter-spacing: 0.01em;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

/* --------stats-------- */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .content {
  width: 1017px;
}

.stats .row {
  position: relative;
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block img {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

/* trend */
.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  padding: 45px 22px;
  width: 239px;
  border-radius: 0 0 12px 12px;
  background: #fff;
}

.stats-trend .value {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000339;
}

.stats-trend .desc {
  margin-top: 8px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a7a7a7;
}

.stats-trend .arrow-up {
  margin-left: auto;
}

.stats-trend .separate {
  height: 1.5px;
  background: #e9e9e9;
  margin: 25px 0;
}

.stats-trend .avatar-block {
  display: flex;
  align-self: center;
  gap: 16px 14px;
  flex-wrap: wrap;
}

.stats-trend .avatar-block .avatar {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border: 0.7px solid #fff;
  border-radius: 50%;
  margin-left: -7px;
}

.stats-trend .avatar-block .avatar:first-child {
  margin-left: 0;
}

.stats .info {
  padding: 115px 0 0 165px;
}

.stats .info .title {
  position: relative;
  width: 269px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.29;
  color: #000339;
}

.stats .info .title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.stats .info .desc {
  margin-top: 20px;
  width: 309px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .qty {
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .qty-desc {
  margin-top: 22px;
  font-weight: 500;
  font-size: 1.8rem;
  color: #7b8087;
  text-align: center;
}

/* --------subcription--------- */
.subcription {
  margin-top: 90px;
}
.subcription .body {
  position: relative;
  display: flex;
  align-items: center;
  height: 370px;
  background: #063183;
  border-radius: 20px;
}

.subcription .info {
  width: 671px;
  max-width: 100%;
  padding: 0 80px;
}

.subcription .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}

.subcription .desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #ffffff;
  opacity: 0.75;
}

.subcription .btn {
  margin-top: 20px;
  width: 151px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  color: #002366;
}

.subcription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* -----footer------ */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row {
  display: flex;
  gap: 185px;
}

.footer .heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #1c1c1d;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
}

.footer .list .item {
  margin-top: 18px;
}

.footer .item a,
.footer .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
  line-height: 1.75;
}

.footer .social {
  margin-top: 40px;
  display: flex;
}

.footer .social .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.footer .social .link:hover {
  background: #ededed;
  border: 1px solid #0889fe;
}

.footer .row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 81px;
}

.footer .copy-right {
  font-weight: 400;
  font-size: 1.4rem;
  color: #c2c2c2;
}
